<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <servlet-name>StandServlet</servlet-name>
    <servlet-class>servlets.StandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StandServlet</servlet-name>
    <url-pattern>/Stand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrerStandServlet</servlet-name>
    <servlet-class>servlets.RegistrerStandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrerStandServlet</servlet-name>
    <url-pattern>/RegistrerStand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>servlets.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
    <init-param>
      <param-name>adminUser</param-name>
      <param-value>admin@admin.no</param-value>
    </init-param>
    <init-param>
      <param-name>adminPassword</param-name>
      <param-value>admin1234</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StandAdminServlet</servlet-name>
    <servlet-class>servlets.StandAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StandAdminServlet</servlet-name>
    <url-pattern>/StandAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>